* {
    margin: 0;
}

header {
    height: 60px;
}

.company_info {
    margin-left: 5%;
    margin-top: 10px;
    float: left;
    height: 50px;
    width: 45%;
}

.company_info img {
    height: 40px;
}

.username {
    margin-right: 5%;
    margin-top: 15px;
    float: right;
    height: 50px;
    width: 45%;
    text-align: right;
}

.username img {
    vertical-align: middle;
    height: 20px;
}

.username_login {
    margin-left: 5px;
    font-family: inherit;
}


.header_under {
    height: 40px;
}

.header_line {
    float: left;
    height: 30px;
    width: 85%;
    background-color: #007AC3;
}

.header_slogan {
    float: right;
    min-height: 30px;
    width: 15%;
    line-height: 30px;
    text-align: left;
    background-color: #85BC20;
}

.slogan {
    margin-left: 15px;
    font-family: inherit;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: #FDFEFB;
}

.navigation {
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
}

.search_panel {
    float: left;
    height: 100px;
    width: 50%;
}

h1 {
    margin-top: 10px;
    font-family: 'Noto Serif', serif;
    font-variant: small-caps;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navigation_search {
    width: 50%;
    height: 25%;
}

button,
button:active,
button:focus {
    outline: none;
}

.add_button {
    margin-top: 35px;
    float: right;
    height: 30px;
    width: 120px;
    color: #FDFEFB;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    background-color: #85BC20;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

.main_table {
    width: 100%;
    font-family: sans-serif;
    text-align: left;
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
}

th {
    padding: 10px;
    font-size: 18px;
}

td {
    padding: 10px;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
}

.trash img {
    height: 16px;
}

.pagination {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 50px;
}

.pagination_left {
    float: left;
}

.pagination_left span {
    font-size: 16px;
    font-family: sans-serif;
}

.pagination_right {
    float: right;
    word-spacing: 10px;
}

.pagination_right select {
    font-size: 15px;
    width: 60px;
}

.pagination_right span {
    word-spacing: 20px;
}

footer {
    margin-top: 30px;
    height: 60px;
    background-color: #F6F6F6;
}

.footer_left {
    margin-top: 10px;
    float: left;
    margin-left: 5%;
}

.footer_left img {
    height: 40px;
}

.footer_right {
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}

.footer_right span {
    font-family: serif;
}